<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Emergency Response</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header color="primary">
          <ion-card-title>Details Here:</ion-card-title>
          <ion-card-subtitle>Fill all required fields.</ion-card-subtitle>
            
      </ion-card-header>
        
        <ion-card-content>
          <ion-item>
              <ion-icon item-left name="contact"></ion-icon>
              &nbsp;
              <ion-input type="text" placeholder="Name"></ion-input>
             
          </ion-item>

          <ion-item>
              <ion-icon item-left name="body"></ion-icon>
              &nbsp;
              <ion-input type="text" placeholder="Age"></ion-input>
              
          </ion-item>

          <ion-item>
              <ion-icon item-left name="locate"></ion-icon>
              &nbsp;
              <ion-input type="text" placeholder="Address"></ion-input>
             
          </ion-item>

          <ion-item>
              <ion-icon item-left name="phone-portrait"></ion-icon>
              &nbsp;
              <ion-input type="text" placeholder="Active Mobile Number"></ion-input>
              
          </ion-item>

          <ion-item>
              <ion-icon item-left name="chatboxes"></ion-icon>
              &nbsp;
              <ion-input type="text" placeholder="Comments"></ion-input>
              
          </ion-item>
           
        </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header color="primary">
          <ion-card-title>Track your location</ion-card-title>
          <ion-card-subtitle>Start Emergency Based on Location?</ion-card-subtitle>
          
        </ion-card-header>
      
        <ion-card-content>
          <br/>
            <ion-text>Click Start if all details are filled up.</ion-text>
            <ion-button color="primary">Start</ion-button>
        </ion-card-content>
  </ion-card>

</ion-content>
