<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Tips and Safety</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- fab placed to the top end -->
<ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentEmergencyPage()">
      <ion-icon name="medkit"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>April 30, 2019</ion-card-subtitle>
      <ion-card-title>CDRRMO</ion-card-title>
    </ion-card-header>
    <ion-img src="http://placehold.it/500x200" ></ion-img>
    <ion-card-content>

      System maintenance this coming april for the demo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>April 30, 2019</ion-card-subtitle>
      <ion-card-title>CDRRMO</ion-card-title>
    </ion-card-header>
    <ion-img src="http://placehold.it/500x200" ></ion-img>
    <ion-card-content>

      System maintenance this coming april for the demo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>April 30, 2019</ion-card-subtitle>
      <ion-card-title>CDRRMO</ion-card-title>
    </ion-card-header>
    <ion-img src="http://placehold.it/500x200" ></ion-img>
    <ion-card-content>

      System maintenance this coming april for the demo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>April 30, 2019</ion-card-subtitle>
      <ion-card-title>CDRRMO</ion-card-title>
    </ion-card-header>
    <ion-img src="http://placehold.it/500x200" ></ion-img>
    <ion-card-content>

      System maintenance this coming april for the demo.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>April 30, 2019</ion-card-subtitle>
      <ion-card-title>CDRRMO</ion-card-title>
    </ion-card-header>
    <ion-img src="http://placehold.it/500x200" ></ion-img>
    <ion-card-content>

      System maintenance this coming april for the demo.
    </ion-card-content>
  </ion-card>
</ion-content>
