<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    
    <ion-title>
      Home
    </ion-title>
    
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>
  <!-- fab placed to the top end -->
  <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentEmergencyPage()">
        <ion-icon name="medkit"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>April 30, 2019</ion-card-subtitle>
      <ion-card-title>CDRRMO</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      System maintenance this coming april for the demo.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item >
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Emergency Responded</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      Scheduled Responses successfully updated.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="activated">
      <ion-icon name="paper" slot="start"></ion-icon>
      <ion-label>Other Department Updates</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="bookmark" slot="start"></ion-icon>
      <ion-label>Bookmarks</ion-label>
    </ion-item>
  
    <ion-item class="activated">
      <ion-icon name="information-circle" slot="start"></ion-icon>
      <ion-label>Casualties</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
